@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #000080;       
  --color-secondary: #000f89;     
  --color-accent: #000036;              
  --color-base-100: #bce6fe;     
  --color-light: #bce6fe;     

}